*{
  margin: 0px;
  padding: 0px;
}

body{
  background: url("../Carnaval-dos-Animais1.jpg") no-repeat;
  background-size: cover; 
}

.keys{
  display: flex;
  flex: 1;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.key{
  font-size: 1.5rem;
  margin: 10px;
  transition: all .10s ease;
  width: 100px;
  text-align: center;
}

.efeito{
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.sound{
  color: #ffc600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

kbd{
  display: block;
  text-align: center;
  font-size: 4rem;
  color: white;
}