html{
    font-family: 'helvetica neue';
    font-size: 10px;
    background: url("../estrada-verde-wallpaper-1600x1024.jpg") no-repeat;
    background-size: cover;
}

body{
    display: flex;
    flex: 1;
    min-height: 98.4vh;
    align-items: center;
    justify-content: center;
}

.relogio{
    border: 20px solid burlywood;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    position: relative;
}

.corpo-relogio{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.mao{
    position: absolute;
    background: black;
    height: 5px;
    width: 50%;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.segundos{
    background: red;
    width: 140px;
    left: 20px;
    border-radius: 20px;
}

.horas{
    width: 110px;
    left: 50px;
}

.minutos{
    width: 150px;
    left: 10px;
}

.numeros{
    position: absolute;
    font-size: 35px;
}

.doze{
    left: 50%;
    bottom: 87%;
    transform: translate(-50%, -2%);
}

.um{
    left: 75%;
    bottom: 80%;
}

.dois{
    left: 94%;
    bottom: 60%;
}

.quatro{
    left: 94%;
    bottom: 11%;
}

.cinco{
    left: 75%;
    top: 80%;
}

.sete{
    top: 80%;
    left: 18%;
}

.oito{
    bottom: 11%;
}

.dez{
    bottom: 60%;
    left: -2%;
}

.onze{
    bottom: 80%;
    left: 16%;
}

.tres{
    left: 99.8%;
    bottom: 34%;
}

.seis{
    left: 50%;
    top: 89%;
    transform: translateX(-50%);
}

.nove{
    top: 50%;
    right: 98%;
    transform: translate(-50%, -110%);
}